* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}

:root {
    --white: #fff;
    --black: #111;
    --red: #930A0A;
    --hardred: #FC0000;

    --h1-font: 7rem;
    --h2-font: 3.5rem;
    --p-font: 2rem;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--black);
    background: transparent;
    background-size: cover;
    background-position: inherit;
}

section {
    padding: 120px 19% 100px;
}


header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    border-bottom: 1px solid transparent;
    transition: all ease .50s;
    background: transparent;
}

.logo img {
    width: 70px;
    height: auto;
    margin-left: 50px;
    margin-top: 5px;
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--white);
    font-size: var(--p-font);
    font-weight: 400;
    margin: 0 40px;
    transition: all ease .40s;
}


/* .dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white);
    width: 200px;
    padding: 5px;
    border: 1px solid var(--hardred);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: var(--black);
    font-size: var(--p-font);
    font-weight: 400;
    display: block;
    padding: 8px 0;
    text-decoration: none;
    transition: color 0.3s;
}

.dropdown-content a:hover {
    color: var(--accent-color);
}
 */
/*
.navlist a:hover {
    color: var(--red);
}
*/
#menu-icon {
    font-size: 42px;
    color: var(--black);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

button {
    display: inline-block;
    border-radius: 4px;
    background-color: var(--red);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    /*
    margin-top: 60rem;
    margin-left: -24rem;
*/
}

button a span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: var(--white);
}

button a span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

button:hover a span {
    padding-right: 15px;
}

button:hover a span:after {
    opacity: 1;
    right: 0;
}

.inicio {
    position: relative;
    min-height: 100vh;
    background: url(/images/capa_1280x720_pages-to-jpg-0001.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: .5px solid var(--hardred);
}

.inicio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: -24.5rem;
    margin-top: 13rem;
}

.inicio-content .inicio-text h2 {
    font-size: 6rem;
    margin: 0;
}

.inicio-content .inicio-text h2 span {
    color: var(--red);
}

.inicio-content .inicio-text h4 {
    font-size: 25px;
    margin: 0;
    color: var(--red);
}

.inicio-btn {
    margin-top: 30rem;
}

.sobre {
    min-height: 95vh;

}

header.sticky {
    padding: 1px 0%;
    background: var(--white);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);

    .navlist a {
        color: var(--black);
    }

    .navlist a:hover {
        color: var(--red);
    }

}

.sobre {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 4rem;
    position: relative;
    border-bottom: .5px solid var(--hardred);
}

.sobre-img {
    width: 100%;
    height: auto;
}

.sobre-text h2 {
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 10px;
}

.sobre-text h5 {
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1.4;
}

.sobre-text span {
    color: var(--red);
}

.sobre-text p {
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 3rem;
}

.btn {
    display: inline-block;
    padding: 16px 45px;
    background: var(--red);
    color: var(--white);
    font-size: var(--p-font);
    border-radius: 3px;
    font-weight: 600;
    border: 2px solid var(--red);
    transition: all ease .50s;
}

.btn:hover {
    color: var(--black);
    transform: translateX(5px);
    background: transparent;
    border: 2px solid var(--red);
}

.servico {
    min-height: 95vh;
    background: var(--white);
}