* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}

:root {
    --white: #fff;
    --black: #111;
    --red: #930A0A;
    --hardred: #FC0000;
    --ice: #F8F8FF;

    --h1-font: 7rem;
    --h2-font: 3.5rem;
    --p-font: 2rem;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--black);
    background: transparent;
    background-size: cover;
    background-position: inherit;
}

section {
    padding: 120px 19% 100px;
}


header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    border-bottom: 1px solid transparent;
    transition: all ease .50s;
    background: transparent;
}

.logo img {
    width: 70px;
    height: auto;
    margin-left: 50px;
    margin-top: 5px;
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--white);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 0 40px;
    transition: all ease .40s;
}


/* .dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white);
    width: 200px;
    padding: 5px;
    border: 1px solid var(--hardred);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: var(--black);
    font-size: var(--p-font);
    font-weight: 400;
    display: block;
    padding: 8px 0;
    text-decoration: none;
    transition: color 0.3s;
}

.dropdown-content a:hover {
    color: var(--accent-color);
}
 */
/*
.navlist a:hover {
    color: var(--red);
}
*/
#menu-icon {
    font-size: 42px;
    color: var(--black);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

button {
    display: inline-block;
    border-radius: 4px;
    background-color: var(--red);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    /*
    margin-top: 60rem;
    margin-left: -24rem;
*/
}

button a span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: var(--white);
}

button a span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

button:hover a span {
    padding-right: 15px;
}

button:hover a span:after {
    opacity: 1;
    right: 0;
}

.inicio {
    position: relative;
    min-height: 100vh;
    background: url(../images/capa_1280x720_pages-to-jpg-0001.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: .5px solid var(--hardred);
}

.inicio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: -24.5rem;
    margin-top: 13rem;
}

.inicio-content .inicio-text h2 {
    font-size: 6rem;
    margin: 0;
}

.inicio-content .inicio-text h2 span {
    color: var(--red);
}

.inicio-content .inicio-text h4 {
    font-size: 25px;
    margin: 0;
    color: var(--red);
}

.inicio-btn {
    margin-top: 30rem;
}

.sobre {
    min-height: 100vh;

}

header.sticky {
    padding: 1px 0%;
    background: var(--white);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);

    .navlist a {
        color: var(--black);
    }

    .navlist a:hover {
        color: var(--red);
    }

}

.sobre {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 4rem;
    position: relative;
    border-bottom: .5px solid var(--hardred);
}

.sobre-img {
    width: 100%;
    height: auto;
}

.sobre-text h2 {
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 10px;
}

.sobre-text h5 {
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1.4;
}

.sobre-text span {
    color: var(--red);
}

.sobre-text p {
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 3rem;
}

.btn {
    display: inline-block;
    padding: 16px 45px;
    background: var(--red);
    color: var(--white);
    font-size: var(--p-font);
    border-radius: 3px;
    font-weight: 600;
    border: 2px solid var(--red);
    transition: all ease .50s;
}

.btn:hover {
    color: var(--black);
    transform: translateX(5px);
    background: transparent;
    border: 2px solid var(--red);
}

.servico {
    min-height: 95vh;
    background: var(--white);
    border-bottom: .5px solid var(--hardred);
}

.text-center {
    text-align: center;
}

.text-center h2 {
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 10px;
}

.text-center h4 {
    font-size: 22px;
    font-weight: 500;
}

.servicos-items {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, auto)); */
    grid-template-columns: repeat(3, minmax(250px, auto));
    grid-template-rows: repeat(2, auto);
    align-items: center;
    gap: 2.2rem;
    text-align: center;
    margin-top: 4rem;
}

.service-box {
    padding: 45px 30px;
    background: var(--black);
    border-radius: 0.8rem;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all ease .50s;
}

.service-box i {
    font-size: 50px;
    color: var(--white);
    margin-bottom: 10px;
}

.service-box h3 {
    color: var(--white);
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 12px;
}

.service-box p {
    color: var(--white);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 1.5rem;
}

.s-btnn {
    display: inline-block;
    padding: 9px 24px;
    background: var(--red);
    color: var(--white);
    font-size: 15px;
    font-weight: 500;
    border: 2px solid var(--red);
    border-radius: .5rem;
    transition: all ease .50s;
}

.s-btnn:hover {
    transform: scale(1.1);
    background: transparent;
    border: 2px solid var(--red);
}

.faq {
    min-height: 95vh;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .5px solid var(--hardred);
}

.faq-container {
    margin: 0 40px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq-container h1 {
    text-align: center;
    color: var(--black);
    font-size: var(--h2-font);
    font-weight: 800;
    margin-top: -5rem;
    margin-bottom: 10rem;
}

.faq-container .tab {
    position: relative;
    background: var(--ice);
    padding: 0 20px 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
}

.faq-container .tab input {
    appearance: none;
}

.faq-container .tab label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.faq-container .tab label::after {
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.1);
    transition: transform 1s;
}

.faq-container .tab:hover label::after {
    color: var(--red);
}

.faq-container .tab input:checked~label::after {
    transform: rotate(135deg);
}

.faq-container .tab label h2 {
    width: 40px;
    height: 40px;
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 1.5rem;
    border-radius: 5px;
    margin-right: 10px;
}

.faq-container .tab:nth-child(2) label h2 {
    background: linear-gradient(135deg, #FC0000, #930A0A);
}

.faq-container .tab:nth-child(3) label h2 {
    background: linear-gradient(135deg, #FC0000, #930A0A);
}

.faq-container .tab:nth-child(4) label h2 {
    background: linear-gradient(135deg, #FC0000, #930A0A);
}

.faq-container .tab:nth-child(5) label h2 {
    background: linear-gradient(135deg, #FC0000, #930A0A);
}

.faq-container .tab:nth-child(6) label h2 {
    background: linear-gradient(135deg, #FC0000, #930A0A);
}

.faq-container .tab:nth-child(7) label h2 {
    background: linear-gradient(135deg, #FC0000, #930A0A);
}

.faq-container .tab label h3 {
    position: relative;
    font-weight: 500;
    color: var(--black);
    z-index: 10;
    font-size: 2rem;
}

.faq-container .tab .faq-content {
    max-height: 0;
    transition: 1s;
    overflow: hidden;
}

.faq-container .tab input:checked~.faq-content {
    max-height: 100vh;
}

.faq-container .tab .faq-content p {
    position: relative;
    padding: 10px 0;
    color: var(--black);
    z-index: 10;
    font-size: 1.5rem;
}

.contato {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--black);
    background: var(--white);
}

.contato-container {
    max-width: 960px;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    background: var(--ice);
    box-shadow: 0 0 1rem hsla(0 0 0 / 16%);
    border-radius: 0.5rem;
    overflow: hidden;
}

.form-container {
    padding: 20px;
}

.form-container h3 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--black);
}

.form-container h3 span {
    color: var(--red);
}

.contact-form {
    display: grid;
    row-gap: 1rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    border: .5px solid var(--red);
    outline: none;
    background: var(--white);
    padding: 10px;
    font-size: 1.5rem;
    color: var(--black);
    border-radius: 0.4rem;
}

.contact-form textarea {
    resize: none;
    height: 200px;
}

.contact-form .enviar-btn {
    outline: none;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    background: var(--red);
    color: var(--white);
    transition: all ease .50s;
}

.contact-form .enviar-btn:hover {
    background: transparent;
    border: 0.5px solid var(--red);
    color: var(--black);
    transition: 0.3s all linear;
}

input::placeholder,
textarea::placeholder {
    color: var(--black);
}

.map iframe {
    width: 100%;
    height: 100%;
}

/* Media Queries */
@media (max-width:964px) {
    .contato-container {
        margin: 0 auto;
        width: 90%;
    }
}

@media (max-width:700px) {
    .contato-container {
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-top: 20rem !important;
    }

    .map iframe {
        height: 400px;
    }
}

@media (max-width:1600px) {
    header {
        padding: 14px 4%;
    }

    header.sticky {
        padding: 8px 4%;
    }

    section {
        padding: 100px 5% 80px;
        padding-left: 30rem;
    }
}

@media (max-width:1450px) {
    .sobre-img {
        margin-left: -10rem;
    }

    .servico {
        margin-left: -10rem;
    }
}

@media (max-width:1300px) {
    .servico {
        margin-left: -15rem;
    }

    .faq {
        margin-left: -10rem;
    }
}

@media (max-width:1250px) {
    .sobre-img {
        margin-left: -20rem;
    }
}

@media (max-width:1200px) {
    .inicio {
        min-height: 90vh;
    }

    .navlist a {
        margin: 0 20px;
    }

    :root {
        --h1-font: 5rem;
        --h2-font: 3.1rem;
        --p-font: 2rem;
    }

    .faq {
        margin-left: -12rem;
    }
}

@media (max-width:1100px) {
    .navlist a {
        color: var(--black);
    }
}

@media (max-width:1060px) {
    .sobre {
        grid-template-columns: 1fr;
        margin-left: -15rem;
    }

    .sobre-img {
        text-align: center;
        order: 2;
    }

    .sobre-img img {
        max-width: 100%;
        width: 600px;
        height: auto;
        margin-left: 25rem;
    }

    .servico {
        margin-left: -23rem;
    }

    .servicos-items {
        grid-template-columns: 2fr;
    }

    .faq {
        margin-left: -15rem;
    }

    .contato {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 870px) {
    #menu-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        top: -800%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--ice);
        padding: 20px 0;
        text-align: left;
        transition: all .50s ease;
        border: 0.5px solid var(--red);
    }

    .navlist a {
        display: block;
        font-size: 22px;
        padding: 12px 0;
        color: var(--black);
    }

    .navlist.open {
        top: 100%;
    }

    .contato-container {
        grid-template-columns: 1fr;
        /* Altera para uma única coluna */
    }

    .map {
        order: 2;
        /* Coloca a div .map depois da div .form-container */
    }
}

@media (max-width: 660px) {
    .inicio {
        min-height: 80vh;
    }

    :root {
        --h1-font: 4.5rem;
        --h2-font: 2.8rem;
        --p-font: 1.6rem;
    }
}